<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MESSAGES</title>
    <meta charset="UTF-8">
</head>
<body>
<table border="1">
    <th>ID</th>
    <th>OBJET</th>
    <th>CONTENU</th>
    <th>DATE</th>
    <tr th:each="unMessage : ${mesMessages}">
        <td th:text="${unMessage.id_message}"/>
        <td th:text="${unMessage.objet}"/>
        <td th:text="${unMessage.contenu}"/>
        <td th:text="${unMessage.dateenvoi}"/>
    </tr>
</table>
</body>
</html>